<p id="notice"><%= notice %></p>

<p>
  <strong>Scrore:</strong>
  <%= @subject_score.scrore %>
</p>

<%= link_to 'Edit', edit_subject_score_path(@subject_score) %> |
<%= link_to 'Back', subject_scores_path %>
